/*------------------------------------*\
    $ MAIN CONTENT
\*------------------------------------*/

.content {
    background-color: $white;
    min-height: 100%;
    padding-top: 6em;
    position: relative;
    transition: padding .1s ease, margin .1s ease, transform .1s ease;
    @include breakpoint("small") {
        padding-top: 7em;
    }
    .home-page & {
        background-color: $yellow;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 8.5em;
        @include breakpoint("medium") {
            background-size: cover;
        }
        @include breakpoint("small") {
            padding-top: 9.5em;
        }
        p {
            color: $white;
            width: 100%;
            min-width: 22em;
            line-height: 1.2em;
            text-shadow: 0 1px 1px $grey;
        }
    }
}

article {
    position: relative;
    .animation-page &,
    .design-page &,
    .illustration-page & {
        overflow: hidden;
    }
}

.site-introduction {
    width: 100%;
    float: left;
}

.gallery-title {
    padding: 1.666em 0 .666em;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
}
.gallery {
    width: 100%;
    float: left;
    li {
        width: 50%;
        display: inline-block;
        float: left;
        border-right:  1px solid transparent;
        border-bottom: 1px solid transparent;
        @include breakpoint("small") {
            width: 100%;
            border-right: 0;
        }
    }
    a {
        background-color: $white;
        width: 100%;
        height: 0;
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
        &:hover img,
        &:focus img,
        &:active img {
            transform: translate3d(-50%, -50%, 0) scale(.931); // creates 20px padding per side
        }
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: transform .2s ease;
    }
}

.item-navigation {
    width: 100%;
    height: 3.75em;
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 2;
    @include transition;
    li {
        position: absolute;
        top: 0;
        a:before {
            font-weight: 300;
            text-indent: 0;
        }
    }
    .item-previous {
        left: 0;
        a:before {
            content: "<";
        }
    }
    .item-next {
        right: 0;
        a:before {
            content: ">";
        }
    }
    a {
        background-color: $blue;
        width: 3.75em;
        height: 3.75em;
        display: block;
        position: relative;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        @include transition;
        &:before {
            color: $white;
            width: 100%;
            font-size: 2em;
            line-height: 1.875em;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            z-index: 4;
        }
        @include breakpoint("medium") {
            width: 2.5em;
        }
    }
}
.item-scrubber {
    position: absolute;
    left:  $wrapper-padding;
    right: $wrapper-padding;
    top: -8em;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
    @include transition;
    li {
        display: inline-block;
        padding: 0 .125em;
        @include breakpoint("small") {
            padding: 0 .25em;
        }
    }
    a {
        background: $white;
        width: 1em;
        height: 1em;
        display: block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        border-radius: 50%;
        border: 1px solid $black;
        @include breakpoint("small") {
            width:  1.5em;
            height: 1.5em;
        }
    }
    .active a {
        background-image: radial-gradient(circle at center center, $black 0%, $black 40%, transparent 40%, transparent 100%);
    }
}
.item-carousel {
    display: block;
    float: left;
    // transition: margin .75s cubic-bezier(.75, .35, .65, 1.35);
    transition: margin 1s ease;
    > li {
        opacity: 0;
        display: inline-block;
        float: left;
        transition: opacity .75s ease;
        &.active {
            opacity: 1;
        }
    }
}
    .item-media {
        margin: 0 auto 3em;
        &.video {
            max-width: 62em; // text width = 992px
            @include breakpoint("video") {
                height: 0;
                padding-bottom: 56.25%; // 16:9 ratio
                position: relative;
                iframe,
                video {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        iframe,
        img,
        video {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .item-content {
        width: 808px;
        max-width: 100%;
        padding: 0 6.5em 6em;
        margin: 0 auto;
        @include breakpoint("small") {
            padding: 0 3em 6em;
        }
    }
        .share-links {
            padding-left: 7em;
            margin-bottom: 2.5em;
            position: relative;
            white-space: nowrap;
            &:before {
                content: "";
                background-color: black;
                width: 5em;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0;
            }
            li {
                display: inline-block;
                + li {
                    margin-left: 1em;
                }
            }
            a {
                color: black;
                width: 25px;
                height: 24px;
                display: block;
                overflow: hidden;
            }
            svg {
                stroke: #000000;
            }
        }
        .item-text {
            line-height: 1.5em;
            img {
                display: block;
                margin: 0 auto;
            }
        }
