{% include header.html %}

            {% assign item_count = 0 %}
            {% assign active_index = 1 %}
            {% assign total_items = 1 %}

            {% for item in site.posts reversed %}
            {% if item.category == page.category %}
                {% assign item_count = item_count | plus: 1 %}
                {% if item.slug == page.slug %}
                    {% assign active_index = item_count %}
                {% endif %}
                {% assign total_items = item_count %}
            {% endif %}
            {% endfor %}

            {% if total_items != "1" %}
                <ol class="item-navigation">
                    <li class="item-previous"><a href="#" title="">Previous</a></li>
                    <li class="item-next"><a href="#" title="">Next</a></li>
                </ol>

                <ol class="item-scrubber">
                    {% for item in site.posts reversed %}
                    {% if item.category == page.category %}
                        <li{% if item.slug == page.slug %} class="active"{% endif %}>
                            <a href="#" title="">Item {{ forloop.index }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ol>
            {% endif %}

            <ol class="clear  item-carousel" style="width: {{ total_items }}00%; margin-left: -{{ active_index | minus: 1 }}00%;">
                {% for item in site.posts reversed %}
                {% if item.category == page.category %}
                    <li{% if item.slug == page.slug %} class="active"{% endif %} data-slug="{{ item.slug }}"{% if item.navigation_colour %} data-color="{{ item.navigation_colour }}"{% endif %} style="width: {{ 100 | divided_by: total_items }}%;">
                        <figure class="item-media{% if item.vimeo or item.youtube %}  video{% endif %}">
                            {% if item.image %}
                                <img src="{% if item.image contains: "//" %}{{ item.image }}{% else %}/images/{{ item.image }}{% endif %}" alt="">
                            {% elsif item.vimeo %}
                                <iframe src="//player.vimeo.com/video/{{ item.vimeo }}?title=0&byline=0&portrait=0&color={% if item.vimeo_colour %}{{ item.vimeo_colour | replace: '#', '' }}{% else %}C73E2C{% endif %}" width="992" height="558" frameborder="0" allowfullscreen></iframe>
                            {% elsif item.youtube %}
                                <iframe src="http://www.youtube.com/v/{{ item.youtube }}?version=3&enablejsapi=1" width="992" height="558" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                        </figure>
                        <div class="item-content">
                            <h3>{{ item.title }}</h3>
                            {% if item.external or item.share %}
                                <ul class="share-links">
                                    {% if item.external and item.external != "false" and item.external != "" %}
                                        <li><a href="{{ item.external }}" title="External Link" target="_blank"><svg><use xlink:href="#svg-external" /></svg></a></li>
                                    {% endif %}
                                    {% if item.share and item.share != "false" and share != "" %}
                                        <li><a href="{{ item.share }}" title="Share" target="_blank"><svg><use xlink:href="#svg-share" /></svg></a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <h4>{{ item.subtitle }}</h4>
                            <div class="item-text">
                                {{ item.content }}
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
            </ol>

{% include footer.html %}
