{% include header.html %}
<!--
            <h2 id="{{ page.title | downcase }}" class="clear  gallery-title">{{ page.title }}</h2>
-->
            <ul class="clear  gallery" role="list">
            {% for post in site.posts reversed %}
            {% if post.category == page.target_category %}
                <li>
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <img src="{% if post.thumbnail contains: "//" %}{{ post.thumbnail }}{% else %}/images/thumbnails/{{ post.thumbnail }}{% endif %}">
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            </ul>

{% include footer.html %}
